* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Embed", sans-serif;
}
body {
  height: 100vh;
  background: #ff521f;
}

.wrapper {
  background-color: #110;
  padding: 5em 4em;
  position: absolute;
  width: 31.25em;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 0 1.2em 3em rgba(3, 21, 55, 0.3);
}

#userInput {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  padding: 0.5em 1em;
  font-size: 1em;
  outline: none;
}

.options {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  appearance: none;
  width: 8em;
  padding: 0.45em 0.9em;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #888;
  border: none;
  color: #ffff;
  background-repeat: no-repeat;
  background-size: 1.1wm;
  background-position: 6em;
  outline: none;
  border-radius: 0.3em;
}

select::-ms-expand {
  display: none;
}

select option {
  background-color: #fff;
  color: #888;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 1.12em;
}

.selected {
  display: none;
}

.color-inp {
  -webkit-appearance: none;
  background-color: transparent;
  width: 3.1em;
  height: 3.4em;
}

.color-inp::-webkit-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #888;
}
.color-inp::-moz-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #888;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box button,
.box a {
  font-size: 1em;
  padding: 0.8em 0.2em;
  border-radius: 0.5em;
  margin-top: 2em;
}

.box button:disabled {
  background-color: transparent;
  color: grey;
  border: 0.18em solid grey;
}

.box button {
  background-color: transparent;
  color: #888;
  border: 0.18em solid #888;
  margin-bottom: 40px;
}

.box a {
  background-color: #888;
  color: #fff;
  text-decoration: none;
  border: 0.18em solid #888;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 0.18em;
}

.hide {
  display: none;
}

#download {
  margin-bottom: 40px;
}
